# Logs
logs
*.log

# Dependency directories
node_modules/

# Build files
dist/
build/
out/

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Miscellaneous
npm-debug.log*
yarn-debug.log*
yarn-error.log*
